.default-theme {
  /* -------------------------- COLORS --------------------------*/

  $themeColor: (
    1: rgb(225, 117, 128, 0.7), // primary color
    2: #F9CA8F, // secondary color
    3: #7CBFB0, // terturay color
  );
  @include generateColors($themeColor);

  /* -------------------------- DIMENSIONS --------------------------*/

  $_factors: (
    default: 0.25rem, // 4px
    tablet: 0.1875rem, // 3px
    mobile: 0.125rem // 2px
  );
  @include generateMargin($_factors);
  @include generatePadding($_factors);

  /* -------------------------- TYPOGRAPHY --------------------------*/

  $_fontHeading: 'Quicksand';
  $_fontDefault: 'Quicksand';
  $_fontSizeFactors: (
    default: 0.25rem, // 4px
    tablet: 0.25rem, // 4px
    mobile: 0.1875rem // 3px
  );
  @include generateTypography($_fontDefault, $_fontDefault, $_fontSizeFactors);
}
