.slide {
  &-enter {
    transform: translateY(-25px);
  }

  &-enter-active {
    transition: transform  ease-out 0.25s,
      opacity ease-out 0.25s;
  }

  &-leave-active {
    opacity: 0;
  }

  &-enter-to {
    transform: translateY(0);
  }
}
